@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+And+White+Picture&family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');
.App {
  text-align: center;
  padding: 20px;
  font-family: 'Yeon Sung', cursive;
}
